.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards .cards-card-image .cards-image--mobile {
  display: none;
}

@media (width <= 900px) {
  .cards .cards-card-image .cards-image--desktop {
    display: none;
  }

  .cards .cards-card-image .cards-image--mobile {
    display: block;
  }
}
