.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.0625rem, 1fr));
  gap: 1.5rem;
}

.cards > ul > li {
  border: 0.0625rem solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 1rem;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards .cards-card-image .cards-image--mobile {
  display: none;
}

@media (width <= 48rem) {
  .cards .cards-card-image .cards-image--desktop {
    display: none;
  }

  .cards .cards-card-image .cards-image--mobile {
    display: block;
  }
}
