.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  margin-top: var(--nav-height);
  position: relative;
  height: 21.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3.125rem 10.625rem;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero div:nth-child(2) div {
  padding-left: 5.625rem;
}

.hero div:nth-child(3) div {
  margin-top: 1.2rem;
  padding-left: 5.625rem;
}

.hero-wrapper .hero-disclaimer {
  max-width: unset;
  margin-top: 0.5rem;
  margin-right: 4.125rem;
  float: right;
}

.hero-wrapper .hero-disclaimer p {
  font-size: 0.75rem;
  font-weight: 300;
}