.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  margin-top: var(--nav-height);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 3.125rem 0;
}

/* Hero Banner Variants */
.hero.hero--primary {
  height: 21.875rem;
  color: var(--background-color);
}

.hero.hero--secondary {
  height: 12.75rem;
  color: var(--text-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero .hero-image--mobile {
  display: none;
}

.hero div:nth-child(4) div,
.hero div:nth-child(5) div {
  max-width: 57rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.hero div:nth-child(5) div {
  margin-top: 1.2rem;
}

.hero-wrapper .hero-disclaimer {
  max-width: unset;
  margin-top: 0.5rem;
  margin-right: 4.125rem;
  float: right;
}

.hero-wrapper .hero-disclaimer p {
  font-size: 0.75rem;
  font-weight: 300;
}

.hero .hero-disclaimer--inset {
  display: none;
  position: absolute;
  right: 1rem;
  bottom: 0.75rem;
  margin: 0;
  color: #fff;
}

.hero .hero-disclaimer--inset p {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 300;
  color: #fff;
}

@media (max-width: 48rem) {
  .hero.hero.hero--primary {
    justify-content: end;
    padding: 2.5rem 0;
  }

  .hero.hero--secondary {
    justify-content: end;
    padding: 1.25rem;
  }

  .hero .hero-image--desktop {
    display: none;
  }

  .hero .hero-image--mobile {
    display: block;
  }

  .hero div:nth-child(4) div,
  .hero div:nth-child(5) div {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .hero-wrapper .hero-disclaimer {
    display: none;
  }

  .hero .hero-disclaimer--inset {
    display: block;
  }

  .hero--secondary .hero-disclaimer p {
    color: var(--text-color)
  }
}