.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  margin-top: var(--nav-height);
  position: relative;
  height: 21.875rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 3.125rem 0;
  color: var(--background-color);
}

/* Variant hooks */
.hero.hero--primary {
}

.hero.hero--secondary {
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero div:nth-child(2) div,
.hero div:nth-child(3) div {
  max-width: 912px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.hero div:nth-child(3) div {
  margin-top: 1.2rem;
}

@media (max-width: 960px) {
  .hero div:nth-child(2) div,
  .hero div:nth-child(3) div {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.hero-wrapper .hero-disclaimer {
  max-width: unset;
  margin-top: 0.5rem;
  margin-right: 4.125rem;
  float: right;
}

.hero-wrapper .hero-disclaimer p {
  font-size: 0.75rem;
  font-weight: 300;
}