footer {
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 75rem;
  padding: 2.5rem 1.5rem;
}

footer .footer p {
  margin: 0;
}

footer .footer .section,
footer .footer .default-content-wrapper,
footer .footer .columns-wrapper,
footer .footer .columns,
footer .footer .columns > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer .section {
  flex-direction: column;
  gap: 1.875rem;
}

footer .footer .default-content-wrapper,
footer .footer .default-content-wrapper .button-container {
  gap: 1.25rem;
}

footer .footer .default-content-wrapper .button-container {
  display: flex;
  align-items: center;
}

footer .footer .default-content-wrapper .button-container::after {
  content: '';
  width: 0.0625rem;
  height: 1.25rem;
  background-color: #808184;
}

footer .footer .default-content-wrapper .button-container:last-child::after {
  display: none;
}

footer .footer .default-content-wrapper a.button {
  padding: 0;
  font: 600 1rem 'Lexend', sans-serif;
  color: var(--green-color, #007580);
}

footer .footer .default-content-wrapper a.button:hover {
  text-decoration: none;
}

footer .footer .columns > div {
  gap: 1.1875rem;
}

footer .footer .columns > div > div:first-child {
  flex: unset;
}

footer .footer .columns img {
  max-width: 15.625rem;
  aspect-ratio: 125 / 39;
}

footer .footer .columns > div > div:last-child {
  font: 400 0.875rem 'Lexend', sans-serif;
  color: #000;
}

@media (width <= 48rem) {
  footer .footer .default-content-wrapper {
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
  }

  footer .footer .default-content-wrapper .button-container {
    flex-direction: column;
    width: 100%;
    gap: 0.75rem;
  }

  footer .footer .default-content-wrapper .button-container::after {
    width: 100%;
    height: 0.0625rem;
    margin: 0.5rem 0;
  }

  footer .footer .default-content-wrapper a.button {
    text-decoration: none;
    text-align: center;
  }

  footer .footer .columns > div {
    flex-direction: column;
    gap: 0.75rem;
  }
}

@media (width >= 48rem) {
  footer .footer > div {
    padding: 2.5rem 2rem;
  }
}
