:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --text-color: #000;
  --mulberry-color: #952460;
  --light-blue-color: #86C1E4;
  --sky-blue-color: #E8F4FA;
  --light-pink-color: #F9E8F0;
  --green-color: #007580;

  /* fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --heading-font-family: roboto, roboto-fallback, sans-serif;

  /* body sizes (mobile) */
  --body-font-size-l: 18px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;

  /* heading sizes (mobile) */
  --heading-font-size-xxl: 50px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 28px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 20px;
  --heading-font-size-xxs: 18px;
}

@media (width >= 900px) {
  :root {
    /* body sizes (desktop) */
    --body-font-size-l: 18px;
    --body-font-size-m: 16px;
    --body-font-size-s: 14px;

    /* heading sizes (mobile) */
    --heading-font-size-xxl: 64px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 40px;
    --heading-font-size-m: 32px;
    --heading-font-size-s: 28px;
    --heading-font-size-xs: 24px;
    --heading-font-size-xxs: 20px;
  }
}

/* fallback fonts */
@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-l);
  line-height: 1.6;
}

body.appear {
  display: block;
}

main > div {
  margin: 40px 16px;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

main .section.sky-blue {
  background-color: var(--sky-blue-color);
  margin: 0;
  padding: 40px 0;
}

main .section.light-pink {
  background-color: var(--light-pink-color);
  margin: 0;
  padding: 40px 0;
}
